<footer class="bg-dark" id="footer">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/images/Core.jpg" style="height:57px; width:60px">
                <hr class="light">
                <p>08136719587</p>
                <p>majesty@hotmail.com</p>
                <p>b3.Raour Road</p>
                <p>Owerri,Imo Stae, 00000</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our Hours</h5>
                <hr class="light">
                <p>Monday: 9am - 5am</p>
                <p>Saturday: 10am - 4pm</p>
                <p>Sunday: close</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our Hours</h5>
                <hr class="light">
                <p>Owerri, Imo State, 00-02-00</p>
                <p>City, State, 00-03-00</p>
                <p>City, State, 00-01-00</p>
                <p>City, State, 00-21-00</p>
            </div>
        </div>
    </div>  
</footer>
<div id="main-footer" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col text-center py-4">
                <p>Copyright &copy;<span id="year"></span></p>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal fade text-dark" id="contactModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Log In</h5>
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                       <div class="form-group">
                           <label for="email" >Email</label>
                           <input type="email" class="form-control">
                       </div> 
                       <div class="form-group">
                           <label for="password">Password</label>
                           <input type="password" class="form-control">
                       </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block" data-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>-->