<!DOCTYPE html>
<html lang="en">
<head>  
<title>{{title}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Open+Sans+Condensed:300|Press+Start+2P|Raleway|Source+Code+Pro|Titillium+Web|Tomorrow&display=swap" rel="stylesheet">    
<link rel="stylesheet" href="/styles/bootstrap.css">
<link rel="stylesheet" href="/styles/bodyStyle.css">
<link rel="stylesheet" href="/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous"/>
<link rel="stylesheet" href="/styles/{{style}}">
</head>
<body style="overflow-x: hidden">
  {{{body}}}  
<script src="/scripts/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/scripts/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous"></script>
<script src="/scripts/bodyScript.js"></script>
<script src="/scripts/{{script}}"></script>
<script type="text/javascript">
$('#customFile').change(function(event){
    var fileName = event.target.files[0].name;
    if (event.target.nextElementSibling!=null){
        event.target.nextElementSibling.innerText=fileName; 
    }
});
</script>
</body>
</html>